extends layout

block pageCSS
    link(rel='stylesheet', href='/stylesheets/cities.css')
    script(src='/javascripts/add_place.js')

block content
    .main-content-wrapper
      .container
        if !error
          each place in places
            .row.place-wrapper
              .col-lg-2.col-lg-offset-1.place-picture-col
                img(src=place.image_url)
              .col-lg-8.place-info-col
                h2.place-name= place.name
                p
                  img(src=place.rating_img_url)
                p= place.snippet_text
                .place-announcement
                  span.number-of-people #{place.people} people going.
                  if(user && !place.user_going)
                    button(type="button", class="go-tonight positive-button", action="add_place", id=place.id).btn.btn-default.place-go-btn Go tonight
                  else if (user && place.user_going)
                    button(type="button", class="go-tonight negative-button", action="remove_place", id=place.id).btn.btn-default.place-go-btn Cancel plans
                  else
                    a(type="button", href=place.reference).btn.btn-default.place-go-btn Go tonight

            .row.line-break
              .col-xs-12
        else
          .row
            .col-lg-3.col-lg-offset-2
              h1 City not found!